<h1>Listing participants</h1>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Response</th>

    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= gravatar_for participant %></td>
    <td><%= participant.name %></td>
    <td><%= participant.response %></td>

    <td><%= link_to 'Destroy', event_participant_path(params[:event_id],participant.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_event_participant_path(@event) %>
