<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @participant.name %>
</p>

<p>
  <b>Email:</b>
  <%= @participant.email %>
</p>

<p>
  <b>Response:</b>
  <%= @participant.response %>
</p>


<%= link_to 'Edit', edit_event_participant_path(params[:event_id],@participant) %> |
<%= link_to 'Back', event_participants_path(@event) %>
