<div class="row">
	<div class="span4">
		<div class="well">
			<h2><%= @event.name %></h2>
		</div>	
	</div>
	<div class="span8">
		<h2>Participants</h2>
		<table class="table table-striped">
		<% @participants.each do |participant| %>
		  <tr>
		    <td><%= gravatar_for participant %></td>
		    <td><%= participant.name %></td>
		    <td><%= participant.response %></td>
		  </tr>
		<% end %>
		</table>
		<%= link_to 'Invite another person', new_event_participant_path(@event), class: "btn" %>
	</div>
</div>
